.MainContainer{
 height: 350px;
 width: 100%;
  max-width: calc(100% - 40px);
    color: white;


}


.item-one{
    background-image: url("../../../assets/coffee-mocha.png");
   
}
.item-two{
    background-image: url('/src/assets/expresso-americano.png');
    
}
.item-three{
    background-image: url('/src/assets/cappuccino.png');
}
.divs-container{
    display: flex;
    padding:0px 10px;
    
}

.top-Image{
    
    width:100%;
    height: 50%;
    background-size: 250px;
    background-repeat: no-repeat;
  
    border-radius: 20px;

}


.divs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 10px;
}

.item-one, .item-two, .item-three {
    height: 250px; 
    width: 100%;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


@media screen and (max-width: 1040px) {
    .divs-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}