
.navContainer {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(234,205,189);
    z-index: 100;
}

.content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 100px;
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 10px;
}

.rightActions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hamburgerBtn {
    display: none;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
}


@media screen and (max-width: 1040px) {
    .hamburgerBtn {
        display: block;
    }

    .links {
        display: none; 
        position: absolute;
        top: 100px; 
        left: 0;
        width: 100%;
        background-color: rgb(234,205,189);
        flex-direction: column;
        padding: 20px 0;
        gap: 20px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }

    .links.open {
        display: flex;
    }
}

.search-icon{
    height: 50px;
}
.link{
    text-decoration: none;
    color: black;
    gap: 50px;
    font-family: "Poppins";
}