nav{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color:  rgb(234,205,189);
    z-index: 100;
    

}
.search-icon{
    height: 40px;
    margin-top: 0px;
    
}


.logo{
    height: 100px;
   
}
.links{

    display: flex;
    align-items: center;
    gap: 10px;
}

.content {

margin: auto;

display: flex;
align-items: center;
justify-content:space-between;
}

.link{

    text-decoration: none;
    color: black;
    padding: 5px 10px;
    cursor: pointer;

}



.link:hover{
color: rgb(220, 220, 220);

}

.g{
    display: flex;
}

