
.footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.socials{
    line-height: 1.5rem;
    color: rgb(234,205,189);
}


@media screen and (max-width: 768px) {
    .footerGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .footerGrid {
        grid-template-columns: 1fr;
    }
}